header{
    text-align: center;
    padding-top: 10px;
    color: rgb(10, 0, 15);
    background-color: bisque;
    height: 30px;
    width: 1168px;
}

.search-bar{
    border-radius: 7px;
    border-color: aqua;
    outline: none; /* Optional: remove the outline when focused */
    font-size: 16px;
    width: 650px;
    
}

.second-header{
    height: 30px;
    color: skyblue;
}


.button-div{
    position:fixed ;
    display: flex;
    width: 315px;
    height: 85px;
    background-color:rgb(228, 222, 222);
    border-radius: 15px;
    margin-top: 10px;
}




.homepage-button{
    color: black;
    background-color: yellow;
    height: 40px;
    width: 90px;
    border-radius: 10px;
    margin-top: 25%;
    margin-left: 10%;
    border: none;
}
.homepage-button:active{
    background-color: white;
    color: black;
}

.lessonpage-button{
    color: black;
    background-color: yellow;
    height: 40px;
    width: 90px;
    border-radius: 10px;
    margin-top: 20%;
    margin-left: 20px;
    border: none;
}
.lessonpage-button:active{
    background-color: white;
    color: black;
}


.activitypage-button{
    color: black;
    background-color: yellow;
    height: 40px;
    width: 90px;
    border-radius: 10px;
    margin-top: 20%;
    margin-left: 10px;
    border: none;
}
.activitypage-button:active{
    background-color: white;
    color: black;
}




body {
    background-color: aliceblue ;
}




.second-div{
    float: right;
      position: fixed;   
      width: 315px;
      height: 390px;
      background-color: pink;
      border-radius: 15px;
      flex-direction: row;
      padding-top: 2px;
      text-align: center;
      margin-top: 10%;
      
      
   }

   

 .buttons{
    color: black;
    background-color: yellow;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    margin-top: 15%;
    margin-left: 3px;

 }







   .login-form{
    background-color: #df9271;
    border-radius: 20px;
    width: 450px;
    height: 365px;
    margin-left: 380px;
    padding-top: 30px;
    margin-top: 10%;
}


   form {
    text-align: center;
    }
    
    form {
    width: 300px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    }
    
    label {
    display: block;
    margin-top: 10px;
    }
    
    input[type="text"], input[type="email"], input[type="tel"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    }
    
    input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    }
    
    input[type="submit"]:hover {
    background-color: #e5f80a;
    color: palevioletred;
    }
    
    
    input{
        color: black;
        background-color: white;
        border-radius: 30px;
    }
    

    

    .box{
        display: inline-block;
        width: 200px;
        height: 200px;
        background-color: grey;
        border-radius: 15px;
        text-align: center;
        line-height: 150px;
        margin-left: 40px;
    }

    .div-first{
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        margin-left: 380px;
       
    }

   